body {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(255, 255, 255, 0.35),
			       	rgba(255, 255, 255, 0.35)),
		url(/media/photos/DesertMonoliths.jpg);
	background-size: cover;
	background-position: center;
}

.col-10{
	padding: 2%;
	background: rgba(255,255,255,0.7);
}

.container{
	padding:2%;
}